/Sockets/Echo/EchoServer/nbproject/private/
/Sockets/Echo/EchoClient/nbproject/private/
/Sockets/Echo/EchoClient/build/
/Sockets/Echo/EchoClient/dist/
/Sockets/Echo/EchoServer/dist/
/Sockets/Echo/EchoServer/build/
/Sockets/TocToc/TocTocProtocol/nbproject/private/
/Sockets/TocToc/Serveur/nbproject/private/
/Sockets/TocToc/Client/nbproject/private/
/Sockets/TocToc/Client/dist/
/Sockets/TocToc/Client/build/
/Sockets/TocToc/TocTocProtocol/build/
/Sockets/TocToc/TocTocProtocol/dist/
/Sockets/TocToc/Serveur/build/
/Sockets/TocToc/Serveur/dist/
/Sockets/TocToc/TestThread/nbproject/private/
/Sockets/TocToc/TestThread/build/
/Sockets/TocToc/memoires/nbproject/private/
/Sockets/TocToc/memoires/build/
/Sockets/TocToc/memoires/dist/
/Sockets/TocToc/premierMaven/target/